<div class="jumbotron">
    <h1>Made In Rwanda Products</h1>
    <h3>Explore african made items and save the continent</h3>
</div>
  <div class="center">
    <div class="row">
       <% @products.each do |product| %>
      <div class="col-md-3">
        <div class="thumbnail">
           <%= link_to image_tag(product.image.url(:medium)), product %>
            <div class="caption">
            <h3><%= link_to product.name, product %></h3>
            <p><%= number_to_currency(product.price) %></p><br>
              <p><%= "Sold by #{product.user.name}" %></p><br>

          </div>
          </div>
    </div>
<% end %>
</div>
  </div>
<br>
 <% if (user_signed_in?) %>
    <%= link_to 'New Product', new_product_path, class: "btn btn-primary btn-sm active" %>
 <% end %>